<!-- <ol class="breadcrumb no-radius no-margin" style="border-bottom: 1px solid #ddd;">

    {% for item in breadcrumb_list %}
    <li class="active">
        <a href={{ item.url }}>{{item.title}}</a>
    </li>
    {% endfor %}

</ol> -->

<!-- <nav aria-label="breadcrumb"> -->
  <ol class="breadcrumb no-radius no-margin">
    {% for item in breadcrumb_list %}
    <li class="breadcrumb-item active">
        <a href={{ item.url }}>{{item.title}}</a>
    </li>
    {% endfor %}
  </ol>
<!-- </nav> -->