<!-- 一级菜单 & 二级菜单 -->
<div class="multi-menu">
    {% for item in menu_dict.values %}
    <div class="item">
        <div class="title {{item.class}}">
            <span class="icon-wrap">
            <i class="{{ item.icon }}"></i>
            </span>
            {{ item.title }}
        </div>
        <div class="body">
            {% for children in item.children %}
            <a href="{{ children.url }}" class="{{ children.class }}">{{ children.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>