{% extends 'layout.html' %}

{% block content %}

    <!-- <div class="luffy-container"> -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="?type=generate">
                {{ generate_formset.management_form }}
                {% csrf_token %}
                <div class="card border-secondary mt-2 text-center">
                    <div class="card-header">
                        <span class="float-left"><i class="fa fa-plus-circle"></i> 待新建权限</span>
                        <span class="text-secondary">备注：路由系统中自动发现且数据库中不存在的路由。</span>

                        <button class="right btn btn-primary btn-sm" href="{% url 'rbac:permission_multi' %}">
                            <i class="fa fa-plus-circle"></i> 点击新建
                        </button>
                    </div>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>名称</th>
                                <th>URL</th>
                                <th>别名</th>
                                <th>所属菜单</th>
                                <th>根权限</th>
                                <!-- <th>操作</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in generate_formset %}
                            <tr>
                                {% for row in form %}
                                    {% if forloop.first %}
                                    <td class="hide" style="display: none;">
                                    {% else %}
                                    <td>
                                    {% endif %}
                                    {{ row }} <span class="text-danger">{{ row.errors.0 }}</span> </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- card -->
                </form>

                <form method="post" action="?type=destroy">
                {{ destroy_formset.management_form }}
                {% csrf_token %}
                <div class="card border-secondary mt-2 text-center">
                    <div class="card-header">
                        <span class="float-left"><i class="fa fa-trash-o"></i> 待删除权限</span>
                        <span class="text-secondary">备注：数据库中存在，但路由系统中不存在的路由。</span>
                    </div>

                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>名称</th>
                                <th>URL</th>
                                <th>别名</th>
                                <th>所属菜单</th>
                                <th>根权限</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in destroy_formset %}
                            <tr>
                                {% for row in form %}
                                    {% if forloop.first %}
                                    <td class="hide" style="display: none;">
                                    {% else %}
                                    <td>
                                    {% endif %}
                                    {{ row }} <span class="text-danger">{{ row.errors.0 }}</span> </td>
                                {% endfor %}
                                <td>
                                    <a href="{% url 'rbac:permission_edit' id=form.initial.id %}">
                                        <i class="fa fa-edit"></i>
                                    </a>|<a href="{% url 'rbac:permission_del' id=form.initial.id %}" class="text-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- card -->
                </form>

                <form method="post" action="?type=update">
                {{ permission_formset.management_form }}
                {% csrf_token %}
                <div class="card border-secondary mt-2 text-center">
                    <div class="card-header">
                        <span class="float-left"><i class="fa fa-refresh"></i> 待更新权限</span>
                        <span class="text-secondary">备注：数据库和路由系统都存在的路由。</span>

                        <button class="right btn btn-primary btn-sm" href="{% url 'rbac:permission_multi' %}">
                            <i class="fa fa-refresh"></i> 点击更新
                        </button>
                    </div>

                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>名称</th>
                                <th>URL</th>
                                <th>别名</th>
                                <th>所属菜单</th>
                                <th>根权限</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in permission_formset %}
                            <tr>
                                {% for row in form %}
                                    {% if forloop.first %}
                                    <td class="hide" style="display: none;">
                                    {% else %}
                                    <td>
                                    {% endif %}
                                    {{ row }} <span class="text-danger">{{ row.errors.0 }}</span> </td>
                                {% endfor %}
                                <td>
                                    <a href="{% url 'rbac:permission_edit' id=form.initial.id %}">
                                        <i class="fa fa-edit"></i>
                                    </a>|<a href="{% url 'rbac:permission_del' id=form.initial.id %}" class="text-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div><!-- card -->
                </form>


            </div>
        </div><!-- row -->
    </div>
{% endblock %}