{% extends 'layout.html' %}

{% block content %}

    <!-- <div class="luffy-container"> -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-2 text-center">
                    <div class="card-header">
                        <span class="float-left"><i class="fa fa-list"></i> 待新建权限列表</span>
                        <span class="text-secondary">备注：路由系统中自动发现且数据库中不存在的路由。</span>

                        <a class="float-right" href="/menu/add/">
                            <i class="fa fa-plus-circle"></i> 新建
                        </a>
                    </div>
<!--                     <div class="card-body">
                        <p class="card-text">注意：路由系统中自动发现且数据库中不存在的路由。</p>
                    </div> -->
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>URL</th>
                                <th>别名</th>
                                <th>所属菜单</th>
                                <th>根权限</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in menu_queryset %}
                            {% if row.id == id %}
                            <tr class="table-warning">
                            {% else %}
                            <tr>
                            {% endif %}
                                <!-- <th>{{ row.id }}</th> -->
                                <td> <a href="?id={{row.id}}">{{ row.title }}</a> </td>
                                <td><i class="{{ row.icon }}"></i></td>
                                <td>
                                    <a href="/menu/edit/{{ row.id }}/">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    |
                                    <a href="/menu/del/{{ row.id }}/" class="text-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div><!-- card -->
                <div class="card mt-2 text-center">
                    <div class="card-header">
                        <span class="float-left"><i class="fa fa-list"></i> 待新建权限列表</span>
                        <span class="text-secondary">备注：路由系统中自动发现且数据库中不存在的路由。</span>

                        <a class="float-right" href="/menu/add/">
                            <i class="fa fa-plus-circle"></i> 新建
                        </a>
                    </div>
<!--                     <div class="card-body">
                        <p class="card-text">注意：路由系统中自动发现且数据库中不存在的路由。</p>
                    </div> -->
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>URL</th>
                                <th>别名</th>
                                <th>所属菜单</th>
                                <th>根权限</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in menu_queryset %}
                            {% if row.id == id %}
                            <tr class="table-warning">
                            {% else %}
                            <tr>
                            {% endif %}
                                <!-- <th>{{ row.id }}</th> -->
                                <td> <a href="?id={{row.id}}">{{ row.title }}</a> </td>
                                <td><i class="{{ row.icon }}"></i></td>
                                <td>
                                    <a href="/menu/edit/{{ row.id }}/">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    |
                                    <a href="/menu/del/{{ row.id }}/" class="text-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div><!-- card -->


            </div>
        </div><!-- row -->
    </div>
{% endblock %}