{% extends 'layout.html' %}

{% block content %}

    <div class="container" style="margin: 5px 10px;">
        <div style="margin: 5px 0;">
            <a class="btn btn-success" href="/rbac/role/add/">
                <i class="fa fa-plus-square" aria-hidden="true"></i> 添加角色
            </a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>角色姓名</th>
                <th>权限数量</th>
                <th>选项</th>
            </tr>
            </thead>
            <tbody>
            {% for row in role_list %}
                <tr>
                    <td>{{ row.pk }}</td>
                    <td>{{ row.fields.title }}</td>
                    <td>{{ row.fields.permissions|length }}</td>
                    <td>
                        <a style="color: #333333;" href="/rbac/role/edit/{{ row.pk }}/">
                            <i class="fa fa-edit" aria-hidden="true"></i></a>
                        |
                        <a style="color: #d9534f;" href="/rbac/role/del/{{ row.pk }}/"><i class="fa fa-trash-o"></i></a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}