{% extends 'layout.html' %}

{% block content %}

    <!-- <div class="luffy-container"> -->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card mt-2">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">菜单列表</a>
                        <a class="btn btn-sm btn-primary" href="/menu/add/">
                            <i class="fa fa-plus-square"></i> 新建
                        </a>
                    </nav>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>菜单</th>
                                <th>Icon</th>
                                <th>选项</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in menu_queryset %}
                            {% if row.id == id %}
                            <tr class="table-warning">
                            {% else %}
                            <tr>
                            {% endif %}
                                <!-- <th>{{ row.id }}</th> -->
                                <td> <a href="?id={{row.id}}">{{ row.title }}</a> </td>
                                <td><i class="{{ row.icon }}"></i></td>
                                <td>
                                    <a href="/menu/edit/{{ row.id }}/">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    |
                                    <a href="/menu/del/{{ row.id }}/" class="text-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- card -->
            </div>
            <div class="col-9">
                <div class="card mt-2">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">权限列表</a>
                    <a class="btn btn-sm btn-primary" href="/permission/add/">
                        <i class="fa fa-plus-square"></i> 新建
                    </a>
                </nav>

                <table class="table table-hover">
                    <thead>
                        <tr class="table-sm">
                            <th>ID</th>
                            <th>权限</th>
                            <th>URL</th>
                            <th>选项</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in permission_dict.values %}
                            <div>
                            <tr class="table-sm table-primary">
                                <th>{{ row.id }}</th>
                                <td>{{ row.title }}</td>
                                <td>{{ row.url }}</td>
                                <td>
                                    <a href="/permission/edit/{{ row.id }}/">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    |
                                    <a href="/permission/del/{{ row.id }}/" class="text-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% for children in row.children %}
                                <tr class="table-sm">
                                    <th>{{ children.id }}</th>
                                    <td>{{ children.title }}</td>
                                    <td>{{ children.url }}</td>
                                    <td>
                                        <a href="/permission/edit/{{ children.id }}/">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        |
                                        <a href="/permission/del/{{ children.id }}/" class="text-danger">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}